<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1>Dashboard</h1>

    <!-- Chart1 -->
    <div>
        <canvas id="price_hist"></canvas>
    </div>

    <script>
        canv1 = document.getElementById("price_hist");
        var canv1_labels = {{ canv1_x|safe }};
        var canv1_values = {{ canv1_y|safe }};

        new Chart(canv1, {
            type: 'bar',
            data: {
            labels: canv1_labels,
            datasets: [{
                label: 'Product count',
                data: canv1_values,
                borderWidth: 1
            }]
            },
            options: {
            scales: {
                y: {
                beginAtZero: true,
                }
            },
            plugins: {
                title: {
                    display: true, 
                    text: "Amount of products per price range"
                }
            }
            }
        });

    </script>

    <!-- Chart2 -->
    <div>
        <canvas id="brand_ratings"></canvas>
    </div>

    <script>
        canv2 = document.getElementById("brand_ratings");
        var canv2_labels = {{ canv2_x|safe }};
        var canv2_values = {{ canv2_y|safe }};

        new Chart(canv2, {
            type: 'line',
            data: {
            labels: canv2_labels,
            datasets: [{
                label: 'Brand rating',
                data: canv2_values,
                borderWidth: 1
            }]
            },
            options: {
            scales: {
                y: {
                beginAtZero: true,
                stacked: true
                },
                x: {
                    display: false
                }
            },
            plugins: {
                title: {
                    display: true, 
                    text: "Brand ratings spread (score = round(avg(rating) * log(sum(noofratings)+1)))"
                }
            }
            }
        });
    </script>

    <!-- Table 1 (best brands) -->
     <p>Top brands</p>
     <table>
        <tr>
            <th>Brand</th>
            <th>Rating</th>
        </tr>
        <tr>
            {% for brand, rating in best_brands %}
                <td>{{brand}}</td>
                <td>{{rating}}</td>
            {% endfor %}
        </tr>
     </table>

    <!-- Chart 3 -->
    <div>
        <canvas id="review_ratio"></canvas>
    </div>

    <script>
        canv3 = document.getElementById("review_ratio")
        var canv3_labels = {{ canv3_x|safe }};
        var canv3_values = {{ canv3_y|safe }};

        new Chart(canv3, {
            type: 'doughnut',
            data: {
            labels: canv3_labels,
            datasets: [{
                data: canv3_values,
                hoverOffset: 5
                
            }]
            },
            options: {
                plugins: {
                    title: {
                        display: true, 
                        text: "Ratio of good (>=3.5) reviews by country"
                    }
                }
            }
        });
    </script>

    <!-- Table 2 (country stats) -->
    <p>Country statistics</p>
    <table>
        <tr>
            <th>Country</th>
            <th>Top brands</th>
            <th>Top subcategories</th>
            <th>Total product count</th>
        </tr>
        {% for country, top_brands, top_subcategories, product_count in country_info %}
        <tr>
            <td>{{country}}</td>
            <td>
                <ul>
                {% for top_brand in top_brands %}
                    <li>{{top_brand}}</li>
                {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                {% for top_subcategory in top_subcategories %}
                    <li>{{top_subcategory}}</li>
                {% endfor %}
                </ul>
            </td>
            <td>
                {{product_count}}
            </td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>