<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='output.css') }}"
    />
  </head>
  <body>
    {% include "components/header.html" %}
    <div class="min-h-screen flex flex-col">
      <section class="py-12 md:py-16 bg-stone-50 px-20">
        <div class="container-custom">
          <h1 class="text-3xl md:text-4xl font-serif font-semibold">
            Our Products
          </h1>
          <p class="mt-2 max-w-xl">
            Explore our collection of clean, transparent beauty products crafted
            for every skin.
          </p>
        </div>
      </section>
      <section class="flex flex-row flex-wrap px-20 justify-between py-6">
        {%for product in products%} {% include "components/product_card.html" %} {%
        endfor %}
      </section>
    </div>
  </body>
</html>
